.App {
  text-align: center;
}

header {
    text-align: center;

}

button {
    height: 25px;
    width: 100px

}



.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
}

.displayBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #eee;
  font-size: 3em;
  font-weight: bold;
  height: 200px;
  width: 200px;
}
